*.jks
*.keystore
*.p12
app/Key.p12
key.properties
.gradle/
.kotlin/
build/
app/build/
.cxx/
obj/
local.properties
.idea/
*.iml
*.iws
out/
.acside/
.rsttool/
.rstignore
RstTool_Exports/
.DS_Store
Thumbs.db
*.apk
*.ap_
*.aab