<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".RenPlayApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="34">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.OneUI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.oneui.details.OneUiGameDetailsActivity" android:theme="@style/AppTheme.OneUI" />
        <activity android:name=".ui.oneui.settings.OneUiSettingsActivity" android:theme="@style/AppTheme.OneUI" />
        <activity android:name=".ui.oneui.settings.OneUiAboutActivity" android:theme="@style/AppTheme.OneUI" />
        <activity android:name=".ui.oneui.settings.OneUiLicensesActivity" android:theme="@style/AppTheme.OneUI" />
        <activity android:name=".ui.oneui.settings.OneUiLicenseDetailActivity" android:theme="@style/AppTheme.OneUI" />
        <activity android:name=".ui.oneui.picker.OneUiFolderPickerActivity" android:theme="@style/AppTheme.OneUI" />

        <activity
            android:name="org.renpy.android.PythonSDLActivity"
            android:exported="false"
            android:process=":game_engine"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

        <provider
            android:name="org.renpy.android.RenPyFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="theming-meta"
            android:value="theming_meta_renplay" />

        <meta-data
            android:name="theming-meta-xml"
            android:value="@xml/theming_meta_renplay" />

    </application>
</manifest>

